# Path-based git attributes
# https://www.kernel.org/pub/software/scm/git/docs/gitattributes.html

# Ignore all test and documentation with "export-ignore".
/.github            export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/phpunit.xml.dist   export-ignore
/art                export-ignore
/docs               export-ignore
/tests              export-ignore
/.editorconfig      export-ignore
/.php_cs.dist.php   export-ignore
/phpstan*           export-ignore
/CHANGELOG.md       export-ignore
/CONTRIBUTING.md    export-ignore

