language: php

php:
  - 7.0
  - 7.1
  - 7.2
  - 7.3
  - nightly

env:
  matrix:
    - COMPOSER_FLAGS="--prefer-lowest"
    - COMPOSER_FLAGS=""
matrix:
  allow_failures:
  - php: nightly
  exclude:
  - php: 7.2
    env: COMPOSER_FLAGS="--prefer-lowest"
  - php: 7.3
    env: COMPOSER_FLAGS="--prefer-lowest"

before_script:
  - travis_retry composer self-update
  - travis_retry composer update ${COMPOSER_FLAGS} --no-interaction --prefer-source

script:
  - vendor/bin/phpunit --coverage-text --coverage-clover=coverage.clover
